<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="bootstrap.css">
<meta charset="ISO-8859-1">
<title>Simple Expression</title>
</head>
<body>
	<div class="container">
		<div class="mr-5 p-5">
			<div>
				<h2>Simple Expression</h2>
				<p th:text="${person.id}">Id: 0</p>
				<p th:text="${person.name}">Name: Biswajeet</p>
				<p>Address</p>
				<p th:text="${person.address.street}">Street : Shibpur</p>
				<p th:text="${person.address.zipCode}">ZipCode: 7111103</p>
			</div>



			<div th:object="${person}">
				<h2>Selection Variable Expression</h2>
				<p th:text="*{id}">Id: 0</p>
				<p th:text="*{name}">Name: Biswajeet</p>
				<p>Address</p>
				<p th:text="*{address.street}">Street : Shibpur</p>
				<p th:text="*{address.zipCode}">ZipCode: 7111103</p>
			</div>

			<div>
				<h2>Message Expression</h2>
				<p th:text="#{channel}">Default Channel Name</p>
				<p th:text="#{project.name}">Default Project Name</p>
			</div>
			
			
			<div>
				<h2>Link Url Expression: Generating url from context root</h2>
				<p><a href="#" th:href="@{/user/1}">Link 1</a></p>
				
				<!-- /user?id=1&name=amit -->
				<p><a href="#" th:href="@{/user(id=${person.id},name=${person.name})}">Query String url</a></p>
				
				<!-- /user/1/name/amit -->
				<p><a href="#" th:href="@{/user/{uid}/name/{uname}(uid=${person.id},uname=${person.name})}">Path variable url</a></p>
			</div>
		</div>

	</div>

</body>
</html>